body {
	background-color: darkgrey;
	font-size: 25px;
}

h1, h2, p {
	font-size: 20px;
}

p {
	color: orange;
	background-color: chocolate;
	border: 20px groove #edbb99;
	padding: 30px;
	text-align: center
}

.special {
	background-color: lightyellow;
}

 img {
	 max-width: 100%;
 }