img {
	max-width: 100%
}

body {
	background-color: #6e3c1e;
	/* background-image: url("giraffespotcloseup.jpg"); */
	background-repeat: no-repeat;
	text-align:center;
	
}

h1, h2 {
	
}

p {

}

table{
	padding: 15px;
	background: #e09448;
	text-align: left;
	border: 15px double #6e3c1e;
	border-radius: 20px;
}

th, td {
	border: 10px double #6e3c1e;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}