body {
	background-color: beige
}

img {
	max-width: 100%;
}


/* external styles are the least specific application */
div {
	margin: 20px;
	background: lightblue;
	padding: 10px;
	text-align: center;
}

/* default tags are the least specific */
main {
	margin: 20px;
	background: lightgray;
	padding: 10px;
	text-align: center;
}

/* classes are more specific than default tags, but less specific than ids */
.class {
	background: lightsalmon;
}

/* ids are the most specific */
#id {
	background: lightslategray;
}

footer {
	margin: 20px;
	background: lightgoldenrodyellow;
	padding: 10px;
	text-align: center;
}

/* styles declared lower in the css document are more specific */
footer {
	background: lightcyan;
}