* {
	box-sizing: border-box;
}

img {
	max-width: 100%
}

body {
	margin: 0;
}

.container {
	background-color: lightblue;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.circle {
	background: lavenderblush;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	/* animation-name: pulse; */
	/* animation-duration: 5s; */
	/* animation-delay: 2s; */
	/* animation-iteration-count: infinite; */
	/* animation-direction: alternate; */
	/* animation-timing-function: linear; */
	
	animation: pulse 2.5s infinite alternate ease;
}

@keyframes pulse {
	0% {
		background-color: lightgoldenrodyellow;
		transform: scale(1);
	}
	100% {
		background-color: greenyellow;
		transform: scale(1.5);
	}
}

.square {
	background: lightgoldenrodyellow;
	width: 100px;
	height: 100px;
	animation: spin 2.5s infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}