* {
	box-sizing: border-box;
}

body {
	background: lightgray;
}

img {
	max-width: 100%
}

.container {
	max-width: 1100px;
	margin: 20px auto;
}

header, .left, .center, .right, footer {
	border: 1px solid;
	padding: 20px;
}

header, footer {
	text-align: center;
}

header {
	margin-bottom: 10px;
}

footer {
	margin-top: 10px;
}

main {
	display: flex;
	gap: 10px;
}

.left, .right {
	width: 25%;
}

.center {
	width: 50%;
}

/* max-width = desktop-first */
/* min-width = mobile-first */

/* tablet */
@media screen and (max-width: 900px) {
	body {
		background: lightblue;
	}
	
	main {
		flex-wrap: wrap;
	}
	
	.left {
		width: 100%;
	}
	
	.center, .right {
		width: calc(50% - 5px);
	}
}

/* phone */
@media screen and (max-width: 600px) {
	body {
		background: lightslategrey;
	}
	
	.center, .right {
		width: 100%;
	}
}